img {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    cursor: pointer;
    width: min-content;
    padding: .5em 1em;
    background-color: blueviolet;
    color: wheat;
    margin: 1em;
}



